body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:hover {
	cursor: pointer;
}
h1 {
	font-weight: bolder;
	font-size: 1.2em;
}
a {
	display: block;
}
input {
	padding: 0;
	margin: 0;
	display: block;
}

.header-nav {
	height: 80px;
	background-color: black;
	padding: 0 50px;
}
.nav-ul {
	color: white;
	display: flex;
	justify-content: space-between;
	line-height: 80px;
}
footer {
	width: 100%;
	background-color: lightgray;
	display: table;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bottom {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-row;
	line-height: 2em;
	color: white;
}
.bottom a {
	display: inline;
}
.left-art {
	padding: 20px;
	margin-bottom: 40px;
	margin-right: 40px;
	width: 20%;
	background-color: lightgray;
	line-height: 1.2em;
	text-align: left;
	vertical-align: middle;
}
.left-art-topic {
	font-style: italic;
}
.middle {
	width: 45%;
	overflow: hidden;
	border: 1px solid lightgray;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #888888;
}
.middle img {
	display: block;	
	border-bottom: 1px solid lightgray;
}
.middle-art {
	padding: 20px;
}
.view-detail {
	text-decoration: none;
	color: blue;
	font-weight: bolder;
}

.content {
	margin:50px 40px;
	height: 1000px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	align-content: space-around;
	align-items: flex-end;
}
.mid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 1000px;
}
main {
	display: flex;
	flex-direction: row;
}
.right-aside {
	width: 18%;
	background-color: lightgray;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 520px;
}
.text {
	width: 100%;
	margin:-1px auto;
	height: 3em;
	line-height: 3em;
	color: lightgray;
	border: 1px solid darkgray;
	box-sizing: border-box;
}
.checkbox {
	display: inline-block;
	margin: 10px;
	line-height: 2em;
}
.submit {
	border: none;
	border-radius: 8px;
	height: 2em;
	line-height: 2em;
	font-size: 1.2em;
	color: white;
	background-color: blue;
	width: 100%;
}
.remember {
	height: 2em;
	text-align: center;
	vertical-align: middle;
}